@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

/*This is a CSS comment...*/

:root {
    --primary-color: #355f96;
    --secondary-color: #ff6666;
    --accent1-color: #aec3b0;
    --accent2-color: #EFF6E0;

    --heading-font: Satisfy, 'Bradley Hand', sans-serif;
    --paragraph-font: 'Noto Sans', Verdana, sans-serif;

    --nav-background-color: #aec3b0;
    --nav-link-color: #EFF6E0;
    --nav-hover-link-color: #310a31;
    --nav-hover-background-color: #ff6666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}

body {
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
    height: 100vh;
    height: -webkit-fill-available;

    font-family: var(--paragraph-font);

    max-width: 1080px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: .4fr 1.5fr 3fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    /*margin-top: 25%;*/
}

header h1 {
    padding-left: 2rem;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    list-style: none;
    justify-content: center;
}

nav li {
    flex: 1 1 100%;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    font-weight: 650;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: 2fr 0.7fr;
}

/* about.html details*/
.purpose-statement {
    padding-top: 22px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.socialinks {
    text-decoration: none;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

#hero-bg-mod {
    opacity: 0.6;
}

.transparent-block {
    background-color: rgba(174, 195, 176, .6)
}

#hero-overlay-h1 {
    /*color: var(--secondary-color);*/
    position: absolute;
    top: 50px;
    Left: 225px;
}

#hero-overlay-h2 {
    position: relative;
    text-align: center;
    /*color: var(--secondary-color);*/
    padding-top: 12px;
}

#hero-overlay-article {
    position: absolute;
    top: 100px;
    left: 100px;
    max-width: 80%;
    text-align: left;
    padding-left: 5%;
}

#hero-overlay-image {
    max-width: 250px;
    float: right;
    margin-left: 2rem;
}

#history {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

/* ??? */

form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

/*contact.html details*/

.contact-legend {
    font-size: larger;
    margin-left: 30%;
    padding-top: 20px;
}

fieldset {
    border: none;
}

.form-item {
    margin-left: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.4rem;
    width: 40%;
}

/* Contact Page Specifics */
.contact-title {
    text-align: center;
}

.company-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.info-space {
    padding: 15px;
}

.ee-showcase {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

figcaption {
    max-width: 235px;
    font-size: small;
    margin-left: 0.5rem;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: var(--nav-background-color);
    height: 40px;
    width: 200px;
    margin-bottom: 0.5rem;
}

button:hover {
    background-color: var(--nav-hover-background-color);
}

input[type="text"] {
    width: 60%
}

input[type="email"] {
    width: 60%
}

input[type="radio"] {
    margin-left: 200px;
}

textarea {
    width: 60%
}

/*Trips Page Specifics */
.main-flow {
    /*display: grid;
    grid-template: .4fr 1fr .6fr 1.2fr / 1fr;*/
    display: flex;
    flex-direction: column;
}

.block1-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.experiences-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template: 50% 50% / 30% 30% 30%;
}

.center-grid {
    display: grid;
    align-items: center;
    justify-content: center;
}

#schedule-button {
    height: 5rem;
    width: 17rem;
    font-size: large;
}

.info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
}

td, th {
    text-align: left;
    padding: 2rem;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.spacer {
    padding: 3rem;
}

/*Index Page Specifics*/
.index-main-flow {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
    align-items: center;
    justify-content: center;
}

.index-block1-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-block1-wrapper img {
    width: 100%;
    height: auto;
}

.index-block1-overlay-wrapper {
    position: absolute;
    top: 190px;
}

.index-block1-overlay-wrapper h1  {
    padding: 15px;
    text-align: center;
}

.index-block1-overlay-wrapper button {
    margin-left: 25%;
}

.index-block2-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.offerings {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    column-gap: 10px;
    width: 90%;
    /*padding-top: 10px;*/
    align-items: center;
    justify-content: center;
    max-height: 300px;
}

.offerings img {
    max-height: 200px;
    width: 100%;
}

.offerings h3 {
    text-align: center;
}

.index-block3-wrapper {
    width: 65%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: 17%;
    
}



.sign-up-form fieldset {
    padding-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    border: 1px dotted #310a31;
}

.sign-up-form legend {
    grid-column: 1 / span 2;
    grid-row: 1;

}

.newsletter-submit {
    grid-column: 1 / span 2;
    grid-row: 2;
    text-align: center;
}

.newsletter-item #fullname {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.newsletter-item #useremail {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

