@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

/*This is a CSS comment...*/

:root {
    --primary-color: #355f96;
    --secondary-color: #ff6666;
    --accent1-color: #aec3b0;
    --accent2-color: #EFF6E0;

    --heading-font: Satisfy, 'Bradley Hand', sans-serif;
    --paragraph-font: 'Noto Sans', Verdana, sans-serif;

    --nav-background-color: #aec3b0;
    --nav-link-color: #EFF6E0;
    --nav-hover-link-color: #310a31;
    --nav-hover-background-color: #ff6666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    height: -webkit-fill-available;

    font-family: var(--paragraph-font);

    max-width: 1080px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: .4fr 1.5fr 3fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-top: 25%;
}

header h1 {
    padding-left: 2rem;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    list-style: none;
    justify-content: center;
}

nav li {
    flex: 1 1 100%;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    font-weight: 650;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: 2fr 0.7fr;
}

/* Class Selectors */
.socialinks {
    text-decoration: none;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.transparent-block {
    background-color: rgba(174, 195, 176, .6)
}

#hero-overlay-h1 {
    color: var(--secondary-color);
    position: absolute;
    top: 50px;
    Left: 225px;
}

#hero-overlay-h2 {
    position: relative;
    text-align: center;
    color: var(--secondary-color);
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

#hero-overlay-article {
    position: absolute;
    top: 100px;
    left: 100px;
    max-width: 80%;
    text-align: left;
    margin-top: 0;
    padding-top: 0;
}

#hero-overlay-image {
    max-width: 250px;
    float: right;
    margin-left: 2rem;
}

#history {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

legend {
    font-size: larger;
    margin-left: 30%;
    padding-top: 20px;
}

fieldset {
    border: none;
}

.form-item {
    margin-left: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.4rem;
    width: 40%;
}

/* Contact Page Specifics */

.company-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.ee-showcase {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

figcaption {
    max-width: 235px;
    font-size: small;
    margin-left: 0.5rem;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: var(--nav-background-color);
    height: 40px;
    width: 200px;
    margin-bottom: 0.5rem;
}

button:hover {
    background-color: var(--nav-hover-background-color);
}

input[type="text"] {
    width: 60%
}

input[type="email"] {
    width: 60%
}

input[type="radio"] {
    margin-left: 200px;
}

textarea {
    width: 60%
}