@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Satisfy');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-font: Satisfy, 'Bradley Hand', sans-serif;
    --paragraph-font: 'Noto Sans', Verdana, sans-serif;
}

html {
    height: -webkit-fill-available;
}

header {
    margin-top: 0.5rem;
}

body {
    display: flex;
    flex-direction: column;

    justify-content: center;

    height: 100vh;
    height: -webkit-fill-available;

    max-width: 550px;
    margin: 0 auto;

    background-color: whitesmoke;
}

H1 {
    text-align: center;
}

footer {
    margin-top: auto;
    text-align: center;

    background-color: rgb(25, 31, 25);
    color: white;
    font-size: 1.7rem;
}

fieldset {
    border: none;

}

legend {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}

form {
    margin-top: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: aliceblue;
    border: 3px solid rgb(25, 31, 25);
}

label {
    width: 30%
}

input[type="text"] {
    margin-left: 2px;
    width: 65%;
}

textarea {
    margin-left: 2px;
    width: 65%
}

select {
    margin-left: 2px;
}

input[type="number"] {
    margin-left: 2px;
}

.form-item {
    display: flex;

    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
}

button {
    background-color: rgb(157, 142, 243);
    height: 40px;
    width: 200px;
    margin-bottom: 0.5rem;
}

button:hover {
    background-color: #ff6666;
}