

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    margin: auto;
    border: 4px;
    padding: 10px;
    background: steelblue;
    color: white;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 4px;
    border-top: 1px solid #669cee;
    text-align: center;
}