

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 30%;
    margin-right: 30%;
    align-content: center;
    max-width: fit-content;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin-top: 0;
    margin-right: 0;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

p {
    padding: 0;
}

aside {
   /* margin: auto;
    border: 4px;
    padding: 10px; */
    background: steelblue;
    color: white;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position:absolute;
}

footer {
    margin-top: 4px;
    border-top: 1px solid #669cee;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    }
    
#profile {
        max-height: 300px;
        float: right;
    }

.indent {
    padding-left: 2rem;
}